body 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    gap: 7px;
}

#task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 7px;
    outline: none;
}

#add-btn {
    padding: 10px 14px;
    border: none;
    background: #4f46e5;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}

#add-btn:hover {
    background: #4338ca;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 7px;
    background: #f9fafb;
    border-radius: 7px;
}

li span {
    flex: 1;
}

.done-btn {
    background: #22c55e;
    border: none;
    color: white;
    padding: 5px 8px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.delete-btn {
    background: #ef4444;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.done-btn:hover {
    background: #16a34a;
}

.delete-btn:hover {
    background: #dc2626;
}
